.hoverDropDown:hover {
  background-color: #364061 !important;
  color: '#7A88FE' !important;
}

.rotate-animation {
  transform: rotate(90deg);
  /* Define additional animation styles here */
  animation-name: rotateAnimation;
  animation-duration: 0.2s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes rotateAnimation {
  from {
    /* Define the initial state of the animation */
    transform: rotate(-90deg);
  }
  to {
    /* Define the final state of the animation */
    transform: rotate(0deg);
  }
}

.animate-exampleABS {
  opacity: 0;
  visibility: hidden;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  1% {
    opacity: 0;
    visibility: visible;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
    visibility: visible;
  }
  99% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.animate-exampleABS.fade-out {
  animation: fade-out 5s forwards;
}

.animate-exampleABS.fade-in {
  animation: fade-in 0.2s forwards;
}
