.container {
  display: flex;
  width: 400px;
  padding: 24px;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  position: fixed;
  bottom: 5vh;
  right: 5vh;
  border-radius: 24px;
  background: #29384e;
  box-shadow: 4px 8px 32px 0px rgba(82, 104, 131, 0.32);
  z-index: 999;
}
.containerZoom {
  display: flex;
  width: 400px;
  padding: 24px;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  position: fixed;
  bottom: 5vh;
  right: 5vh;
  border-radius: 24px;
  background: #29384e;
  box-shadow: 4px 8px 32px 0px rgba(82, 104, 131, 0.32);
  z-index: 999;
}

.containerMobile {
  display: flex;
  width: 320px;
  padding: 24px;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  position: fixed;
  top: 28vh;
  right: 4vh;
  border-radius: 24px;
  background: #29384e;
  box-shadow: 4px 8px 32px 0px rgba(82, 104, 131, 0.32);
  z-index: 999;
}

.OpenButton {
  display: flex;
  padding: 16px;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  position: fixed;
  bottom: 5vh;
  right: 5vh;
  border-radius: 100%;
  background: #29384e;
  box-shadow: 4px 8px 32px 0px rgba(82, 104, 131, 0.32);
  // z-index: 10001;
  color: white;
  cursor: pointer;
}

.iconWrap .icon svg path {
  stroke: white;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 19px;
  align-self: stretch;
}

.headerText {
  color: var(--neutral-1, #fff);
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 156%;
  /* 37.44px */
  margin-right: 19px;
}

.headerTextMobile {
  color: var(--neutral-1, #fff);
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 156%;
  /* 37.44px */
  margin-right: 19px;
}

.headerIcon {
  cursor: pointer;
}

.tabWrap {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}

.tab {
  display: flex;
  padding: 6px 12px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
  border-radius: 12px;

  margin-right: 16px;

  color: var(--neutral-1, #fff);
  /* Body/14px/Semibold */
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  cursor: pointer;
  /* 21px */
}

.tabMobile {
  display: flex;
  padding: 6px 12px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
  border-radius: 12px;

  margin-right: 16px;

  color: var(--neutral-1, #fff);
  /* Body/14px/Semibold */
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  cursor: pointer;
  /* 21px */
}

.active {
  background: var(--primary-1, linear-gradient(96deg, #3953dc 4.1%, #9c9be5 146.32%));
}

.content {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  cursor: pointer;

  padding: var(--dimension-corner-radius-card-inner, 8px);
  align-self: stretch;
  border-radius: 12px;
  position: relative;
}

.lineIcon {
  position: absolute;
  left: 23px;
  top: 46px;
  z-index: 1;
}

.lineIconMobile {
  position: absolute;
  left: 23px;
  top: 50px;
  z-index: 1;
}

.content:hover {
  display: flex;
  padding: var(--dimension-corner-radius-card-inner, 8px);
  align-items: center;
  align-self: stretch;
  border-radius: 12px;
  background: #455066;
}

.contentBlock1 {
  display: flex;
  align-items: center;
}

.label {
  color: var(--neutral-1, #fff);
  /* Title/18px/Semibold */
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 180%;
  /* 32.4px */
}

.labelMobile {
  color: var(--neutral-1, #fff);
  /* Title/18px/Semibold */
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 180%;
  /* 32.4px */
}

.iconWrap {
  display: flex;
}

.icon {
  display: flex;
  padding: 6px;
  align-items: center;
  gap: 10px;
  margin-right: 12px;
  border-radius: 40px;
  background: var(--accent-6, #3c4c64);
  // z-index: 10;
}

.detail {
  color: var(--neutral-3, #9da7ba);
  /* Body/14px/Medium */
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  margin-left: 44px;
  /* 21px */
}

.detailMobile {
  color: var(--neutral-3, #9da7ba);
  /* Body/14px/Medium */
  font-family: Montserrat;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  margin-left: 44px;
  /* 21px */
}

@keyframes fade-in {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  1% {
    opacity: 0;
    visibility: visible;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
    visibility: visible;
  }
  99% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.animate-example.fade-out {
  animation: fade-out 1s forwards;
}

.animate-example.fade-in {
  animation: fade-in 1s forwards;
}
