.modalBox
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  width: 400px
  background: #fff
  padding: 20px
  border-radius: 8px
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3)

.seatsContainer
  display: grid
  grid-template-columns: repeat(3, 1fr)
  gap: 10px
  margin-top: 20px
  align-items: center
  justify-items: center

.seat
  width: 40px
  height: 40px
  background: #ccc
  border-radius: 4px
  display: flex
  align-items: center
  justify-content: center
  cursor: pointer

.seat.booked
  background: #ff6347
  cursor: not-allowed

.seat.selected
  background: #007bff
  color: #fff

.actions
  display: flex
  justify-content: space-between
  align-items: center
  margin-top: 20px

.driverIcon
  grid-column: span 3
  display: flex
  justify-content: center
  align-items: center
  margin-bottom: 10px
  font-size: 2rem
