th {
  padding: 13px 10px !important;
  margin: 4px 13px !important;
}
tbody tr:hover {
  background-color: #364061;
  transition-duration: 0.35s !important;
}

table {
  margin-bottom: 10px !important;
  margin-inline: auto !important;
}

th:first-child {
  -moz-border-radius: 15px 0 0 15px;
  -webkit-border-radius: 15px 0 0 15px;
}

th:last-child {
  -moz-border-radius: 0 15px 15px 0;
  -webkit-border-radius: 0 15px 15px 0;
}
.inforDetails {
  display: none;
  // animation: slideInFromLeft 0.4s ease-out 0s 1;
  position: absolute;
  width: 250px;
  height: fit-content;
  border-radius: 10px;
  padding: 8px;
  background: rgba(49, 60, 101, 1);
  top: 26px;
  left: 48px;
  color: #fff;
}
.iconInfor:hover + .inforDetails {
  display: block;

  // animation-delay: 10s;
}

@keyframes slideInFromLeft {
  0% {
    filter: blur(2px);
  }
  100% {
    filter: blur(0px);
  }
}
