.login-wrapper
  width: 100vw
  height: 100vh
  max-height: 100vh

  .background-wrapper
    width: 100%
    display: flex
    justify-content: center
    align-items: center
    background: #273155
    .background
      position: relative
      // max-width: 771px
      width: 771px
      height: 100vh
      display: flex
      justify-content: center
      align-items: center

      .vector1
        position: absolute
        left: -2.33%
        right: 87.5%
        top: 1.05%
        bottom: 88.89%
        opacity: 0.5

      .vector2
        position: absolute
        left: -15.3%
        right: 97.28%
        top: 1.05%
        bottom: 86.81%
        opacity: 0.5

      .vector3
        position: absolute
        left: 76.13%
        right: -2.14%
        top: 0%
        bottom: 82.01%
        opacity: 0.5

      .vector4
        position: absolute
        width: 118.79px
        height: 0px
        left: 506px
        top: 192.92px
        opacity: 0.5
        transform: rotate(-30.85deg)

      .vector5
        position: absolute
        width: 206.79px
        height: 0px
        left: 605px
        top: 992.92px
        opacity: 0.5
        transform: rotate(-31.14deg)

      .vector6
        position: absolute
        width: 206.79px
        height: 0px
        left: 694px
        top: 1001.92px
        opacity: 0.5
        transform: rotate(-31.14deg)

      .vector7
        position: absolute
        left: -1.82%
        right: 71.98%
        top: 82.03%
        bottom: -2.68%
        opacity: 0.5

      .vector8
        position: absolute
        width: 118.79px
        height: 0px
        left: -9px
        top: 1025.92px
        opacity: 0.5
        transform: rotate(-30.85deg)

      .img
        position: relative
        width: 559px
        height: 621px
        background-repeat: no-repeat
        background-position: center
        background-size: contain

        .gradient
          position: absolute
          width: 441.25px
          height: 522.92px
          background: #B1A4FF
          opacity: 0.3
          filter: blur(130.113px)
          transform: rotate(29.12deg)
  .form-wrapper
    background: #1A223E
    display: flex
    justify-content: center
    animation: slide-in 1s ease forwards

    .form
      width: 100%
      height: 100vh
      max-width: 571px
      padding: 138px 10% 40px
      display: flex
      flex-direction: column

      h3
        font-weight: 700
        font-size: 3.2rem
        line-height: 150%
        color: #FFFFFF
        text-align: center

      form
        margin-top: 40px

        .form-field
          margin-bottom: 24px
          position: relative

          label
            font-weight: 600
            font-size: 14px
            line-height: 150%
            display: flex
            align-items: center
            color: #FFFFFF

          input
            display: flex
            align-items: center
            outline: none
            padding: 10px 62px 10px 12px
            gap: 12px
            width: 100%
            height: 40px
            background: #29384E
            border: 1px solid #29384E
            border-radius: 16px
            font-weight: 500
            font-size: 1.6rem
            line-height: 24px
            display: flex
            align-items: center
            color: #9DA7BA
            margin-top: 8px

          .error
            border: 1px solid #FF7373
            position: relative

          .error-text
            font-weight: 500
            font-size: 1.2rem
            line-height: 150%
            color: #FF7373
            margin-top: 8px

        .password-check
          display: flex
          justify-content: space-between
          align-items: center

          .checkbox
            display: flex
            align-items: center

            label
              display: flex
              align-items: center
              gap: 12px

              .check-icon
                width: 18px
                height: 18px
                border-radius: 6px
                cursor: pointer
                color: white

              .text
                font-weight: 500
                font-size: 1.4rem
                line-height: 150%
                display: flex
                align-items: center
                color: #9DA7BA
          .forgot-pwd
            display: block
        .button
          width: 100%
          height: 40px
          background: linear-gradient(96.06deg, #526AEA 4.1%, #B0AEFF 146.32%)
          border-radius: 16px
          display: flex
          justify-content: center
          align-items: center
          border: none
          outline: none
          font-weight: 600
          font-size: 1.6rem
          line-height: 2.4rem
          color: #FFFFFF
          transition: all 0.2s ease
          margin-top: 40px
          cursor: button

          &:hover
            opacity: 0.95
            transform: translateY(-1px)

      .navigate-guide
        width: 100%
        font-weight: 400
        font-size: 16px
        line-height: 24px
        text-align: center
        color: #9DA7BA
        margin-top: auto

.form-wrapper-2
  background: #1A223E
  display: flex
  justify-content: center
  animation: slide-in 1s ease forwards
  .form
    width: 771px
    height: 100vh
    padding: 138px 149px 40px 146px
    display: flex
    flex-direction: column

    h3
      font-weight: 700
      font-size: 3.2rem
      line-height: 150%
      color: #FFFFFF
      text-align: center

    .desc
      font-weight: 400
      font-size: 1.6rem
      line-height: 2.4rem
      text-align: center
      color: #9DA7BA
      margin-top: 12px

    .code
      margin-top: 52px
      margin-bottom: 40px

    .resend
      margin: 0 auto
      font-weight: 400
      font-size: 1.6rem
      line-height: 24px
      color: #6079FD
      margin-top: 40px
      cursor: pointer

      &:hover
        opacity: 0.9

.error-text
  font-weight: 500
  font-size: 1.2rem
  line-height: 150%
  color: #FF7373
  margin-top: 8px
.eye-icon
  position: absolute
  top: 37px
  right: 15px
@keyframes slide-in
  from
    transform: scale(0.5, 0.5)

  to
    transform: scale(1, 1)

.btnSigninGG
  cursor: pointer
  transition: all 0.2s ease
  margin-top: 20px
  width: 100%
  background: #3c506f
  padding: 6px
  border-radius: 16px
  font-size: 16px
  color: #fff
  font-weight: 600
  display: flex
  justify-content: center
  align-items: center
  &:hover
    opacity: 0.95
    transform: translateY(-1px)
  span
    padding-left: 10px

.iconGoogle svg
  width: 28px

