$tablet-width: 768px
$desktop-width: 992px
$large-desktop-width: 1200px

.team-profile-card
    color: var(--neutral-3)
    background: linear-gradient(180deg, #222d53 0%, rgba(67, 76, 106, 0.00) 100%)
    padding: 24px
    width: 100%
    font-size: 14px
    font-weight: 500

    .team-info
        display: flex
        align-items: center

        .avatar-box
            width: 136px
            height: 136px
            border-radius: 136px
            background: linear-gradient(125deg, #526AEA 0%, #B0AEFF 100%)
            margin-right: 24px

            @media (max-width: $desktop-width)
                width: 120px
                height: 120px
                border-radius: 120px

            .avatar-img
                width: 100%
                height: 100%
                border-radius: 136px

                @media (max-width: $desktop-width)
                    border-radius: 120px

        .team-name
            color: var(--neutral-2)
            font-size: 20px
            font-weight: 700
            line-height: 140%
            padding-bottom: 8px

    .rank
        color: var(--neutral-2)
        font-size: 20px
        font-weight: 700
        line-height: 140%
        margin: 24px 0px
        text-align: center

    .group-score
        display: flex
        justify-content: center
        padding: 24px 0px
        width: 100%

        .score-item
            display: flex
            justify-content: space-between

            .data
                padding: 0px 40px
                text-align: center

                .score-point
                    color: var(--neutral-2)
                    font-size: 16px
                    font-weight: 600
                    padding-bottom: 12px

                .score-name
                    color: var(--neutral-3)

            .border
                margin-top: 8px
                height: 24px
                border-left: 1px solid var(--neutral-4)

    .point
        display: flex
        align-items: center
        justify-content: center
        margin: 4px 0px 28px 0px

        .num-of-point
            font-size: 20px
            font-weight: 600
            color: var(--neutral-1)
            padding: 0px 4px 0px 12px
