// @import 'rsuite/dist/rsuite.css';

// #root {
//   padding: 10px;
// }
// .rs-table {
//   background-color: transparent !important;
// }
// // .rs-table-row .rs-table-cell-content{
// //   background: #181F38;
// // }
// .rs-table-row:hover {
//   background-color: #2d3553 !important;
// }

// .rs-table-cell-group-fixed-right,
// .rs-table-cell-group-fixed-left {
//   background-color: #181f38 !important;
// }

// .rs-table-cell {
//   background-color: transparent !important;
// }
// // .table {
// //   background-color: #181F38;
// // }
// .rs-table-cell-last .rs-table-cell-group-scroll {
//   // background: #181F38;q
// }
// button.rs-pagination-btn {
//   color: rgb(255, 255, 255);
// }

// .tableDetails {
//   height: fit-content;
// }

// .rs-table-row-header {
//   background-color: transparent;
// }

// button.rs-pagination-btn.rs-pagination-btn {
//   padding: 7px;
// }

// .rs-pagination-group {
//   flex-wrap: wrap;
// }

// .rs-pagination-group .rs-pagination {
//   margin: 10px;
// }

// .rs-pagination-group-skip .rs-input {
//   background-color: #29384e;
//   color: white;
//   padding: 4px;
// }

// .rs-table-loader-wrapper {
//   background-color: #1a2434c2;
// }

// .score {
//   color: #c197ff;
// }

// .prediction {
//   color: #3bff73;
// }
// .tableScore {
//   margin: 34px;
//   display: block;
// }

// .rs-picker-default .rs-picker-toggle.rs-btn {
//   background-color: #29384e !important;
// }
// .rs-picker-toggle-value {
//   color: #00b8ff !important;
// }
// .rs-picker-select-menu-item.rs-picker-select-menu-item-active {
//   background-color: #3b466e;
// }

// .rs-anim-fade.rs-anim-in.rs-picker-select-menu.rs-picker-menu.placement-top-start {
//   background-color: #1a2434f2;
// }
// .rs-picker-default .rs-picker-toggle.rs-btn .rs-picker-toggle-caret,
// .rs-picker-default .rs-picker-toggle.rs-btn .rs-picker-toggle-clean {
//   top: 3px;
// }
// .rs-picker-default .rs-picker-toggle.rs-btn {
//   padding-top: 4px;
//   padding-bottom: 4px;
// }

// .rs-picker-select-menu-item {
//   color: white;
// }

// .rs-picker-select-menu-item.rs-picker-select-menu-item-active {
//   color: #00b8ff;
// }

// .rs-table-cell-header .rs-table-cell-content {
//   text-transform: uppercase;
// }
