.header-wrapper
  position: fixed
  display: flex
  justify-content: center
  align-items: center
  height: 82px
  width: 100%
  background: #212A4A
  backdrop-filter: blur(10px)
  z-index: 999

  .header
    width: 100%
    // max-width: 1365px
    // padding: 0 16px

    .logo-mobile-wrapper
      display: flex
      gap: 8px
      align-items: center
      position: relative
      justify-content: center

      .menu-icon
        width: 24px
        height: 100%
        display: flex
        align-items: center
        margin-right: 8px

      .logo
        // width: 198.42px
        height: 40px
        display: flex
        align-items: center

      .menu-mobile
        position: absolute
        left: -16px
        top: 61px
        width: 100vw
        background: #212A4A
        padding: 16px
        z-index: 10

        .__item
          padding: 0px 8px
          width: 100%
          height: 48px
          display: flex
          align-items: center
          color: white!important
          border-radius: 8px

          &:hover
            opacity: 0.9
      .menu-back
        position: absolute
        left: -16px
        top: 100px
        width: 100vw
        height: 100vh
        background: rgba(13, 13, 13, 0.7)

    .controls
      display: flex
      justify-content: flex-end
      align-items: center
      gap: 24px

      .nav
        display: flex
        gap: 40px
        align-items: center

        .__item
          color: white
          font-weight: 500
          font-size: 14px

      .auth
        display: flex
        gap: 16px
        justify-content: flex-end
        
        a
          text-decoration: none !important

.auth-mobile
  display: flex
  gap: 4px
  justify-content: flex-end

  a
    text-decoration: none !important

.lang
  display: flex
  justify-content: center
  align-items: center
  padding: 4px
  gap: 8px
  width: 119px
  height: 40px
  background: #313C65
  border-radius: 18px

  input
    display: none

  .__label
    position: relative
    display: flex
    width: 100%
    height: 100%
    display: flex
    justify-content: space-between
    gap: 8px
    padding: 0 4px

    .--switch
      position: absolute
      width: 54px
      left: 0px
      height: 100%
      background: white
      border-radius: 16px
      z-index: 1
      transition: all 0.2s ease-in-out

    .--item
      display: flex
      justify-content: space-between
      align-items: center
      gap: 6px
      z-index: 10

      svg
        display: block

      p
        display: block
        font-weight: 500
        font-size: 12px
        line-height: 150%
        color: #9DA7BA

.avatar
  width: 40px
  height: 40px
  border-radius: 100%
  background: #6894e7
  display: flex
  justify-content: center
  align-items: center
  color: white
  font-size: 2rem
  font-weight: 600
  cursor: pointer

.imgAvatar
  width: 100%
  object-fit: cover
  object-position: 50% 50%
  height: 40px
  border-radius: 100%
  cursor: pointer
.imgAvatarPC
  width: 100%
  object-fit: cover
  object-position: 50% 50%
  height: 50px
  border-radius: 100%
  cursor: pointer
