.apexcharts-canvas {
  // background-image:  url(../../src/assets/BGChartNestQuant.png) !important;
  // background-size: contain !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background: #181f38;
}
