@media only screen and (max-width: 768px) {
  .btnWidthResponsive {
    width: 20% !important;
    height: '80%' !important;
    background: 'linear-gradient(96.06deg, #526AEA 4.1%, #B0AEFF 146.32%)' !important;
    font-size: 14 !important;
    border-radius: 16px !important;
    display: flex !important;
    align-items: center !important;
    color: white !important;
    justify-content: center !important;
  }
}

@media only screen and (min-width: 768px) {
  .btnWidthResponsive {
    width: 20% !important;
    height: '80%' !important;
    background: 'linear-gradient(96.06deg, #526AEA 4.1%, #B0AEFF 146.32%)' !important;
    font-size: 14 !important;
    border-radius: 16px !important;
    display: flex !important;
    align-items: center !important;
    color: white !important;
    justify-content: center !important;
  }
}
