$tablet-width: 768px
$desktop-width: 992px
$large-desktop-width: 1200px

.ranking-table
    color: var(--neutral-3)
    font-size: 12px
    font-weight: 500
    padding: 30px 0px
    max-width: 1232px
    margin: 0 auto

    @media (max-width: $tablet-width)
        width: 360%

    @media (max-width: $desktop-width)
        width: 200%

    .table-header
        .collumn
            padding: 12px 10px
            

    .table-row
        background: var(--table-row-bgr)
        border-radius: 16px
        margin-top: 4px
        color: var(--neutral-1)
        font-size: 14px
        font-weight: 600
        // cursor: pointer
        transition-duration: 0.35s

        &:hover
            background: var(--button)

        .collumn
            padding: 12px 10px
            display: flex
            align-items: center
            word-break: break-word

            .avatar
                width: 40px
                height: 40px
                border-radius: 100%
                background: #6894e7
                display: flex
                justify-content: center
                align-items: center
                color: white
                font-size: 18px
                font-weight: 600
                margin-right: 12px

    .table-row-owner
        @extend .table-row
        background: #736FA1 !important
