@import ../../../../../../components/GlobalStyles/_mixins
@import ../../../../../../components/GlobalStyles/_variables
$tablet-width: 768px
$desktop-width: 992px
$large-desktop-width: 1200px

.leaderboard
  color: var(--neutral-2)
  height: 100vh
  background-repeat: no-repeat
  background-position: center center
  background-size: 100% 100%
  padding: 82px 0px 60px 0px

  .container
    margin-top: 0px

    .mainContent
      width: 100%
      height: 180px
      background-size: contain
      background-repeat: no-repeat
      background-position: center center

      .table

        @media (max-width: $desktop-width)
          overflow-x: scroll

.filter
  display: flex
  justify-content: center
  padding-top: 180px
  @media (max-width: $tablet-width)
    padding-top: 140px

  .wrapper
    display: flex
    font-size: 14px
    color: $neutral-1
    font-weight: 600
    line-height: 150%
    border-radius: 20px
    background: rgba(123, 137, 172, 0.12)
    backdrop-filter: blur(50px)
    padding: 12px 16px
    gap: 16px

    @media (max-width: $tablet-width)
      gap: 12px
      font-size: 14px
      font-weight: 600
      line-height: 150%

    .item, .item-active
      padding: 6px 12px
      border-radius: 12px
      cursor: pointer
      transition: all .2s ease
      @include mobile
        font-size: 12px

    .item-active
      background-image: $primary-1

      &:hover
        opacity: 0.9

    .item
      &:hover
        background-image: $accent-5
        opacity: 0.5

.no-data
  display: flex
  justify-content: center
  align-items: center
  font-size: 16px
  color: $neutral-2
  margin-top: 24px

