@import ../../../../../../components/GlobalStyles/_mixins

.submission-wrapper
  width: 100%
  padding: 114px 86px 32px

  @include mobile
    padding: 86px 16px 24px 16px

  .history
    margin-top: 32px
.bg_submit 
  background: linear-gradient(96deg, #3953DC 4.1%, #9C9BE5 146.32%)
.correlation_active 
   border-radius: 12px
   padding: 8px
   background: '#3C4C64'

