$tablet-width: 768px
$desktop-width: 992px
$large-desktop-width: 1200px

.top
  width: 100%
  color: var(--neutral-2)
  display: flex
  align-items: center
  justify-content: center

  @media (max-width: $tablet-width)
    flex-direction: column

  .top1
    padding-top: 60px

    @media (max-width: $tablet-width)
      padding-top: 180px

  .top2
    padding-top: 140px

    @media (max-width: $tablet-width)
      padding-top: 80px

  .top3
    padding-top: 220px

    @media (max-width: $tablet-width)
      padding-top: 80px
