$tablet-width: 768px
$desktop-width: 992px
$large-desktop-width: 1200px

.top-card
    border-radius: 24px 24px 0px 0px
    background: linear-gradient(180deg, #222d53 0%, rgba(67, 76, 106, 0.00) 100%)
    padding: 60px 24px
    width: fit-content
    font-size: 14px
    font-weight: 500
    color: var(--neutral-3)
    position: relative

    @media (max-width: $desktop-width)
        padding: 40px 25px

    .avatar-box
        position: absolute
        width: 136px
        height: 136px
        border-radius: 136px
        background: linear-gradient(125deg, #526AEA 0%, #B0AEFF 100%)
        top: -35%
        padding: 5px
        left: 0
        right: 0
        margin-left: auto
        margin-right: auto

        @media (max-width: $desktop-width)
            width: 120px
            height: 120px
            border-radius: 120px
            padding: 5px
            top: -41%

        .avatar-img
            width: 100%
            height: 100%
            border-radius: 136px

            @media (max-width: $desktop-width)
                border-radius: 120px

        .rank
            width: 32px
            height: 32px
            border-radius: 32px
            background: var(--primary-1, linear-gradient(125deg, #526AEA 0%, #B0AEFF 100%))
            color: var(--neutral-1)
            font-size: 16px
            font-weight: 600
            display: flex
            align-items: center
            justify-content: center
            margin: 0 auto
            margin-top: -18px
            position: relative
            // z-index: 1 !important

    .title
        display: flex
        align-items: center
        justify-content: center

        .name
            color: var(--neutral-2)
            font-size: 20px
            font-weight: 700
            line-height: 140%
            padding-right: 8px

    .group-score
        display: flex
        justify-content: center
        padding: 24px 0px

        .score-item
            display: flex
            justify-content: space-between

            .data
                padding: 0px 12px
                text-align: center

                .score-point
                    color: var(--neutral-2)
                    font-size: 13px
                    font-weight: 600
                    padding-bottom: 12px

                .score-name
                    color: var(--neutral-3)
                    font-size: 10px

            .border
                margin-top: 8px
                height: 24px
                border-left: 1px solid var(--neutral-4)

    .point
        display: flex
        align-items: center
        justify-content: center
        margin: 4px 0px 28px 0px

        .num-of-point
            font-size: 20px
            font-weight: 600
            color: var(--neutral-1)
            padding: 0px 4px 0px 12px

    .button
        display: flex
        align-items: center
        justify-content: center
        border-radius: 16px
        background: var(--button)
        padding: 8px 16px
        width: fit-content
        color: var(--neutral-1)
        font-size: 16px
        font-weight: 600
        text-transform: none
        font-family: Montserrat
        margin: 0 auto

        &:hover
            background: var(--button-hover)
