
.wrap {
  position: relative;
}

.inforDetails {
  display: none;
  // animation: slideInFromLeft 0.4s ease-out 0s 1;
  position: absolute;
  width: 250px;
  height: fit-content;
  border-radius: 10px;
  padding: 8px;
  background: rgba(49, 60, 101, 1);
  top: 26px;
  left: 20px !important;
  color: #fff;
  z-index: 100;
}
.iconInfor:hover + .inforDetails {
  display: block;

  // animation-delay: 10s;
}

/* Add these styles to your CSS file or style tag */
.custom-tooltip {
  /* Your tooltip styles here */
  background-color: rgba(49, 60, 101, 1) !important;
  color: #fff !important;
  padding: 8px !important;
  border-radius: 4px !important;
  font-size: 14px !important;
  height: fit-content !important;
  width: 250px !important;
}

.custom-tooltip::before {
  content: ''; /* Required for pseudo-elements */
  position: absolute;
  top: 100%; /* Position it just below the tooltip */
  left: 50%; /* Center it horizontally */
  border-width: 8px; /* Adjust the size of the arrow */
  border-style: solid;
  border-color: transparent transparent rgba(49, 60, 101, 1) transparent; /* Set arrow color */
  margin-left: -8px; /* Offset to center the arrow */
}
