.bookingFormContainer
  padding-top: 100px
  padding-bottom: 50px
  display: flex
  justify-content: center
  @media (max-width: 768px)
    padding-top: 100px
    padding-bottom: 20px

.filterPanel
  padding: 20px
  background: #f8f9fa
  border-radius: 8px
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1)
  transition: all 0.3s ease
  @media (max-width: 768px)
    padding: 10px

.panelTitle
  color: #000000
  margin-bottom: 16px
  font-size: 2.5rem
  font-weight: bolder !important
  text-align: center
  text-transform: uppercase
  @media (max-width: 768px)
    font-size: 1.5rem


.btnGroup
  display: flex !important
  justify-content: center !important
  align-items: center !important
  margin-top: 20px

.filterGroup
  margin-bottom: 20px
  @media (max-width: 768px)
    margin-bottom: 10px

.filterTitle
  font-size: 1.2rem
  font-weight: 800
  color: #4440cc
  font-weight: bold !important

  text-transform: uppercase
  padding-bottom: 5px
  @media (max-width: 768px)
    font-size: 1rem

.filterGroup .MuiTypography-body1
  font-size: 1rem
  color: #212529
  @media (max-width: 768px)
    font-size: 0.9rem

.filterGroup .MuiFormControlLabel-root
  margin: 8px 0

.filterGroup .MuiRadio-root
  color: #4440cc

.routePoint
  margin: 3px 3px

.routePoint .MuiTypography-body2
  color: #0b0a0b
  font-size: 1.2rem

.routeDuration .MuiTypography-body2
  color: #4440cc
  font-size: 1.2rem
  font-weight: bold !important

.MuiTypography-body3
  color: #0084c1
  font-weight: bold !important
  font-size: 1.2rem !important

.MuiTypography-body4
  font-size: 12px !important
  color: #918e9a
  margin-bottom: 8px

.MuiTypography-body5
  font-size: 15px !important
  font-weight: bolder !important
  color: #0084c1
  margin-top: 16px

.listPanel
  padding: 20px
  background: #fff
  border-radius: 8px
  max-height: 600px
  overflow-y: auto
  @media (max-width: 768px)
    padding: 10px

.busCard
  margin-bottom: 20px
  padding: 40px 
  background: #f9f9f9
  border: 2px solid #bebebe
  border-radius: 8px
  display: flex
  flex-direction: column
  @media (max-width: 768px)
    padding: 20px
  .busType
    .priceTag
      display: inline-block
      position: relative
      background-color: #4440cc
      color: #fff
      padding: 5px 10px
      border-radius: 4px
      font-weight: bold
      font-size: 1.2rem
      margin-top: 8px

  .busPrice
    font-weight: bold
    margin-top: 8px
    font-size: 1.4rem !important
    font-style: italic
    color: #0a4051
    @media (max-width: 768px)
      font-size: 1.2rem !important
  .busRoute
    margin-top: 8px
    font-size: 1.4rem !important
    @media (max-width: 768px)
      font-size: 1.2rem !important

.busAmenities
  margin-top: 8px
  font-style: italic
  font-size: 1.2rem
  color: #0f0e10
  font-weight: bolder

  .amenityIcon
    margin-left: 10px
    @media (max-width: 768px)
      margin-left: 5px

  .amenityIcon:not(:first-child)
    margin-left: 10px
    @media (max-width: 768px)
      margin-left: 5px

.horizontalLine
  width: 100%
  height: 1px
  background: #0c0101
  margin: 10px 0

.summaryPanel
  padding: 20px
  background: #fff
  border-radius: 8px
  @media (max-width: 768px)
    padding: 10px

.checkoutButton
  width: 100%
  margin-top: 16px

.BtnContainer
  margin-top: 20px

.avaiableSeatStyle
  display: flex
  align-items: center
  font-weight: bold
  @media (max-width: 768px)
    font-size: 0.9rem

.chairIcon
  margin-right: 8px
  font-size: 1.5rem
  @media (max-width: 768px)
    font-size: 1.2rem

.routeContainer
  display: flex
  justify-content: space-between
  align-items: center
  margin: 10px 0
  @media (max-width: 768px)
    flex-direction: column
    margin: 5px 0
  .routePoint
    display: flex
    flex-direction: column
    align-items: center
    text-align: center
    margin: 0 10px
    @media (max-width: 768px)
      margin: 0 5px
  .routeLine
    display: flex
    align-items: center
    justify-content: center
    flex-grow: 1
    @media (max-width: 768px)
      margin: 5px 0
    .routeDot
      width: 10px
      height: 10px
      background: black
      border-radius: 50%
      margin: 5px 0
    .routeDash
      flex-grow: 1
      height: 1px
      border-bottom: 2px dashed black
      margin: 0 10px
      @media (max-width: 768px)
        margin: 0 5px
