$tablet-width: 768px
$desktop-width: 992px
$large-desktop-width: 1200px

.team-profile
    display: flex
    padding: 180px 0px

    @media (max-width: $desktop-width)
        flex-direction: column

    .left
        width: 380px

        @media (max-width: $desktop-width)
            width: 100%

    .right
        width: calc( 100% - 380px )
        padding-left: 48px

        @media (max-width: $desktop-width)
            width: 100%
            padding-left: 0px

        .title
            color: var(--neutral-1)
            font-size: 18px
            font-weight: 600

        .list-member
            padding: 24px

            .member
                display: flex
                align-items: center
                justify-content: space-between
                margin: 24px 0px

                &-left
                    display: flex
                    align-items: center

                    .name
                        color: var(--neutral-1)
                        font-size: 16px
                        font-weight: 600
                        line-height: 24px

                    .label
                        border-radius: 20px
                        background: var(--neutral-5)
                        padding: 4px 12px
                        color: var(--neutral-3)
                        font-size: 12px
                        font-weight: 500
                        line-height: 150%
                        width: fit-content
                        padding: 4px 12px
                        margin-top: 8px

                &-right
                    color: var(--neutral-3)
