.modal
  display: flex
  align-items: center
  justify-content: center

.modalContent
  padding: 20px
  width: 300px
  position: relative

.closeButton
  position: absolute
  top: 10px
  right: 10px

.qrImage
  width: 100%
  height: auto
  display: block
  margin: 0 auto
