.nameWalletmetaMask:hover {
  background-color: #313c65;
}
.chartContainer {
  height: fit-content;
}
.scoreContener {
  height: fit-content;
}
.tableDetails {
  height: fit-content;
}
.predictedResult {
  height: fit-content;
}
