/* Container styles */
.container {
  width: 100%;
  height: 700px;
  display: flex;
  justify-content: center;
}

.topLayout {
  padding: 400px;
  position: relative;
  top: 80px;
  background-size: cover;
  background-position: center;
  height: 880px;
  margin-bottom: 80px;
}

.topLayoutMobile {
  padding: 200px 400px;
  left: -20px;
  position: relative;
  top: 20px;
  background-size: cover;
  background-position: center;
  height: 880px;
  margin-bottom: 20px;
}

/* Body styles */
.body {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

/* Search car styles */
.search-car {
  background-color: rgba(50, 50, 50, 0.7);
  border-radius: 4px;
  width: 400px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Zoomed image styles */
.zoomSelected {
  width: 150px;
}

/* Center content styles */
.center-2,
.center-4 {
  margin-top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  background-color: white;
  width: 100%;
}

/* Introduce travel section */
.introduct-travel,
.product-car {
  text-align: center;
  margin: auto;
  width: 80%;
}

/* Content styles */
.content,
.news {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

/* Item styles */
.item,
.news-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 20px;
  width: 80%;
  transition: transform 0.3s ease;
}

.item img,
.news-item img {
  max-width: 400px;
  border-radius: 15px;
  transition: transform 0.3s ease;
}

.item:hover img,
.news-item:hover img {
  transform: scale(1.1);
}

.sub-title,
.sub-new-item {
  width: 300px;
  color: #555;
  font-size: 16px;
  margin-top: 10px;
  transition: transform 0.3s ease;
}

/* Title styles */
.title,
.title-population-travel,
.news-title {
  font-weight: bold;
}

.title-population-travel {
  margin-top: 15px;
  color: green;
}

.sub-title-population-travel {
  color: green;
}

/* Population travel section */
.population-travel {
  background-color: #f4f4f4;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Column styles */
.intro,
.introduce {
  display: flex;
  background-color: white;
}

.col-title,
.col-title-2 {
  color: #637280;
  width: max-content;
  padding: 30px 20px 40px 100px;
}

.col li,
.col-title-2 li {
  list-style-type: none;
  margin-top: 15px;
  width: max-content;
}

.introduce-title {
  font-weight: bold;
}

.row-input {
  margin-bottom: 10px;
  color: #ff8800;
}


