.imgAvatar {
  width: 100%;
  position: absolute;
}

.iconEdit {
  padding: 3px;
  border-radius: 7px;
  position: absolute;
  width: 100%;
  height: 100%;
}
.iconEdit:hover {
  transition-duration: 0.35s !important;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
  border-radius: 7px;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(240, 248, 255, 0.491);
}

.iconEdit svg {
  position: absolute;
  width: 30%;
  height: 30%;
}

.iconEdit svg path {
  stroke: rgba(0, 255, 255, 0.821);
}
